# ignore extra files
exp/
Real-Time Face Orientation Estimation - Yaw Pitch Roll.zip

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class


